body {
    background-color: rgb(99, 0, 0);
}


h1 {
    color: tomato;
    font-size: 75px;
}

h2 {
    color: orange;
    background-color: magenta;
}

#title2 {
    color: coral;
    background-color: gold;
}

.title3 {
    color: blue;
    background-color: brown;
}